body {
  max-width: 800px;
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Alumni Sans Pinstripe", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 3rem;
  cursor: default;
  transition: .4s;
}

body.night-mode {
  background-color: black;
  color: white;
}

#toggle-night-mode-button {
  width: 15px;
  height: 15px;
  font-size: 1rem;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 5px;
  border: 1px solid black;
}

body.night-mode #toggle-night-mode-button {
  border: 1px solid white;
}

.button {
  font-size: 2rem;
  border: 1px solid black;
  transition: .2s;
  padding: 0px 10px;
}

body.night-mode .button {
  border: 1px solid white;
}

.button:hover {
  font-size: 2rem;
  cursor: pointer;
  background-color: black !important;
  color: white !important;
}

body.night-mode .button:hover {
  background-color: white !important;
  color: black !important;
  opacity: 1 !important;
}

.button.selected {
  background-color: black;
  color: white;
}

body.night-mode .button.selected {
  background-color: white;
  color: black;
}

#controls-container {
  margin: auto;
  transition: .4s;
}

#controls-container:hover {
  opacity: 1 !important;
}

#breathing-guide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-top: 150px;
}

#breathing-guide-container #breathing-guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  transition: .4s;
  width: 0;
  height: 0;
}