body {
  max-width: 800px;
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Alumni Sans Pinstripe", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 3rem;
  cursor: default;
}

.button {
  font-size: 2rem;
  border: 1px solid black;
  transition: .2s;
  padding: 0px 10px;
}

.button:hover {
  font-size: 2rem;
  cursor: pointer;
  background-color: black !important;
  color: white !important;
}

#controls-container {
  margin: auto;
  transition: .4s;
}
#controls-container:hover {
  opacity: 1 !important;
}

#controls-container #time-interval-input {
  width: 100%;
}

#controls-container #time-interval-display {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

#breathing-guide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-top: 50px;
}

#breathing-guide-container #breathing-guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .4s;
  width: 100px;
  height: 100px;
}